.movies {
  margin: 30px 0;
  min-height: 90vh;

  &__flex {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 35px;
  }

  &__filter {
    position: sticky;
    top: 0;
    align-self: flex-start;
    width: 20%;

    input {
      display: none;
    }
  }

  &__genre {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  &__genreTitle {
    margin-bottom: 20px;
  }

  &__label {
    cursor: pointer;
    display: inline-block;
    padding: 2px 6px;
    transition: all 0.3s ease-in-out;

    @include buttonBlue;

    &--active {
      background-color: $clr-dark-blue;
      color: $clr-white;
    }
  }

  &__image {
    width: 100%;
  }

  &__cards {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }

  &__moreBtn {
    @include buttonBlue;
    padding: 6px 12px;
    text-transform: uppercase;
    grid-column: span 5;
  }
}

@media (max-width: 1200px) {
  .movies {
    &__cards {
      grid-template-columns: repeat(4, 1fr);
    }

    &__moreBtn {
      grid-column: span 4;
    }
  }
}

@media (max-width: 900px) {
  .movies {
    &__flex {
      flex-direction: column;
    }

    &__filter {
      margin-bottom: 30px;
      position: relative;
      align-self: auto;
      width: 100%;
    }

    &__cards {
      width: 100%;
      grid-template-columns: repeat(4, 1fr);
    }

    &__moreBtn {
      grid-column: span 4;
    }
  }
}

@media (max-width: 650px) {
  .movies {
    margin-top: 15px;

    &__cards {
      grid-template-columns: repeat(3, 1fr);
    }

    &__moreBtn {
      grid-column: span 3;
    }

    &__title {
      margin-bottom: 10px;
      font-size: 30px;
    }

    &__genreTitle {
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 425px) {
  .movies {
    &__cards {
      grid-template-columns: repeat(2, 1fr);
    }

    &__moreBtn {
      grid-column: span 2;
    }
  }
}
