.movies {
  margin: 30px 0;
  min-height: 90vh;

  &__flex {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 35px;
  }

  &__image {
    width: 100%;
  }

  &__cards {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }

  &__empty {
    width: 75%;
  }

  &__moreBtn {
    @include buttonBlue;
    padding: 6px 12px;
    text-transform: uppercase;
    grid-column: span 5;
    max-height: 40px;
  }
}

@media (max-width: 1200px) {
  .movies {
    &__cards {
      grid-template-columns: repeat(4, 1fr);
    }

    &__moreBtn {
      grid-column: span 4;
    }
  }
}

@media (max-width: 900px) {
  .movies {
    &__flex {
      flex-direction: column;
    }

    &__filter {
      margin-bottom: 30px;
      position: relative;
      align-self: auto;
      width: 100%;
    }

    &__cards {
      width: 100%;
      grid-template-columns: repeat(4, 1fr);
    }

    &__empty {
      width: 100%;
    }

    &__moreBtn {
      grid-column: span 4;
    }
  }
}

@media (max-width: 650px) {
  .movies {
    margin-top: 15px;

    &__cards {
      grid-template-columns: repeat(3, 1fr);
    }

    &__moreBtn {
      grid-column: span 3;
    }

    &__title {
      margin-bottom: 10px;
      font-size: 30px;
    }

    &__genreTitle {
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 425px) {
  .movies {
    &__cards {
      grid-template-columns: repeat(2, 1fr);
    }

    &__moreBtn {
      grid-column: span 2;
    }
  }
}
